* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Glegoo';
    font-size: 35px;
}

.imgprincipal {
    margin: 40px 30px;
    width: 25%;
}

.imagen2 {
    margin: 40px 30px;
    width: 25%;
}

.contenedor-texto,
.contenedor-texto2 {
    text-align: center;
    margin: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 35px;
    background-color: #837c69;
}

.contenedor-texto2 {
    padding: 50px 0;
    width: 75%;
    justify-content: flex-start;
}

#inicio,
#formacion,
#contacto {
    padding-top: 70px;
    display: flex;
    height: 100vh;
}

#contacto {
    text-align: center;
    margin: 40px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    background-color: #837c69;
    flex-direction: column;
}

.redes {
    gap: 30px;
    display: flex;
}

.titulo-contacto {
    width: 100%;
}

h1,
h2,
h3 {
    margin-bottom: 40px;
    background-color: #232c10;
    color: white;
}

.circulo {
    width: 175px;
    /* Ancho del círculo */
    height: 175px;
    /* Altura del círculo */
    border-radius: 30%;
    /* Hace el círculo redondo */
    background-color: #232c10;
    /* Color de fondo del círculo */
    color: white;
    /* Color del texto */
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 75px;
    /* Espaciado entre círculos */
}

.circulo:hover {
    transform: scale(1.3);
    /* Aumenta el tamaño al pasar el ratón */
}

a {
    color: white;
    /* Color del enlace */
    text-decoration: none;
    /* Eliminar subrayado */
}

.botonera {
    display: flex;
    /* Alinea los botones en una fila */
    gap: 10px;
    /* Espacio entre botones */
}

.botonera button {
    width: 100px;
    /* Ancho del botón */
    height: 40px;
    /* Alto del botón */
    border: none;
    cursor: pointer;
    color: white;
    /* Color del texto */
    font-weight: bold;
    /* Negrita para el texto */


}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Glegoo';
    font-size: 22px;
    padding: 0 5%;
    height: 70px;
    background-color: #232c10;
    width: 90%;
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

nav .list {
    float: right;
    padding: 0;
    margin: 0;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list li {
    list-style: none;
}

nav .list a {
    display: block;
    text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav .list a:hover {
    border-bottom: 2px solid white;
    color: white;
}

#toggle {
    position: absolute;
    top: -100px
}

nav .icon-bars {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .con-bars .line {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}