/* Reset básico */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Glegoo', serif;
    font-size: 18px; /* Tamaño de fuente general más manejable para diferentes resoluciones */
    color: #333;
    background-color: #f8f8f8;
}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Glegoo', serif;
    font-size: 18px;
    padding: 0 5%;
    height: 70px;
    background-color: #232c10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toggle{
    display: none;
}

nav .logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

nav .list {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav .list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav .list a:hover {
    border-bottom: 2px solid white;
}

nav .icon-bars {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

nav .icon-bars .line {
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

/* Secciones */

#inicio, #contacto, #formacion {
    padding-top: 70px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
}

.imgprincipal, .imagen2 {
    max-height: 87vh;
    /* max-width: 600px; */
    height: auto;
    margin: 20px;
}

.contenedor-texto, .contenedor-texto2 {
    text-align: center;
    margin: 40px;
    padding: 20px;
    background-color: #837c69;
    color: #fff;
}

/* .contenedor-texto2 {
    width: 75%;
} */

.contenedor-texto, .contenedor-texto2 {
    font-size: 1.5em; /* Tamaño de fuente más adaptable */
}

#contacto {
    background-color: #837c69;
}

.redes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.circulo {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: #232c10;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.circulo:hover {
    transform: scale(1.3);
}

a {
    color: white;
    text-decoration: none;
}

.botonera {
    display: flex;
    gap: 10px;
}

.botonera button {
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

/* Media Queries */
@media (max-width: 992px){
    #inicio, #contacto, #formacion {
        flex-direction: column;
       
    }

}

/* Para pantallas menores a 768px (tabletas y móviles) */
@media (max-width: 768px) {

    nav .list {
        display: none;
    }

    nav .icon-bars {
        display: flex;
    }

    nav input[type="checkbox"]:checked ~ .list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 5%;
        background-color: #232c10;
        padding: 10px;
        border-radius: 8px;
    }

    nav input[type="checkbox"]:checked ~ .icon-bars .line {
        background-color: #fff;
    }

    .contenedor-texto, .contenedor-texto2 {
        font-size: 1.2em; /* Ajusta el tamaño de fuente en pantallas pequeñas */
        margin: 20px;
        
            display: flex;
            flex-direction: column;
            align-items: center;
            /* text-align: left; */
            justify-content: center;
            margin: 40px;
            padding: 20px;
            background-color: #837c69;
            color: #fff;
            /* height: 100%; */
            /* width: 100%; */
        
    }

    .imgprincipal, .imagen2 {
        width: 100%;
        max-width: 564px;
        margin: 20px 0;
    }

    .circulo {
        width: 150px;
        height: 150px;
        font-size: 16px;
    }
}

/* Para pantallas menores a 480px (móviles pequeños) */
@media (max-width: 480px) {
    body {
        font-size: 16px; /* Ajusta el tamaño de la fuente */
    }

    .contenedor-texto, .contenedor-texto2 {
        font-size: 1em; /* Ajusta el tamaño de fuente en pantallas más pequeñas */
        margin: 10px;
    }

    .circulo {
        width: 120px;
        height: 120px;
        font-size: 14px;
    }

    .imgprincipal, .imagen2 {
        width: 100%;
        margin: 10px 0;
    }
}